.titleSideBar {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-top: 8px;
    margin-bottom: 20px;
}

.categoriaTitulo {
    font-size: 24px;
    font-weight: bold;
}

.componentContainer {
    padding: 0 10px;
}

.componentItem {
    font-size: 18px;
    margin-bottom: 12px;
    padding: 10px;
    transition: all 0.2s;
    cursor: pointer;
    border-radius: 8px;
}

.componentItem:hover {
    background-color: #8290ed;
    transition: all 0.2s;
}

.hamburguer {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 4px;
}

.buttonExport {
    background-color: #9d4ef7;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}

.buttonExport:hover {
    transition: all 0.2s ease;
    background-color: #953cfa;
}
@media (min-width: 1024px) {
    .titleSideBar {
        font-size: 32px;
        padding-top: 12px;
    }
}
